.button{
    background-color: "rgb(23, 171, 190)";
    color: "#ffffff";
    padding: "15px 32px";
    text-Align: "center";
    text-Decoration : "none";
    display: "inline-block";
    font-size: "16px";
    border: "1px solid white";
};
